<section class="feature_section layout_padding">
    <div class="container">
        <h2 class="text-uppercase">
            Our Versions
        </h2>
    </div>
    <div class="">
        <div class="feature_card-container layout_padding2">
            <div class="feature_card">
                <div class="feature_img-container">
                    <div class="feature_img-box">
                        <img src="~/images/f1.png" alt="" />
                    </div>
                </div>
                <div class="feature_detail-box">
                    <h4>
                        Distributor
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse
                    </p>
                </div>
            </div>
            <div class="feature_card">
                <div class="feature_img-container">
                    <div class="feature_img-box">
                        <img src="~/images/f2.png" alt="" />
                    </div>
                </div>
                <div class="feature_detail-box">
                    <h4>
                        Exporter
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse
                    </p>
                </div>
            </div>
            <div class="feature_card">
                <div class="feature_img-container">
                    <div class="feature_img-box">
                        <img src="~/images/f3.png" alt="" />
                    </div>
                </div>
                <div class="feature_detail-box">
                    <h4>
                        Fabricator
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
