

<section  class="who_section layout_padding" style="background-color:#ffffff; color:black;">
    <div class="container who_container">
        <div class="who_img-box">
            <img src="~/images/pc.jpg" alt="" />
        </div>
        <div class="who_deail-box">
            <h2>
                Who is GraniteSys
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris Lorem
                ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodonisi ut aliquip ex ea commodo
            </p>
            <div>
                <a href="#">
                    Read More
                </a>
            </div>
        </div>
    </div>
</section>

