@{
    ViewBag.Title = "Start a Subscription";
    Layout = "~/Views/Shared/_StripeLayout.cshtml";
}

<main>
    <p>Welcome to the Stripe sample for starting a new fixed price subscription.</p>

    <p>
        @Html.ActionLink("Start Demo", actionName: "Register", controllerName: "Subscription")
    </p>
</main>