
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_StripeLayout.cshtml";
}


<script src="https://js.stripe.com/v3/"></script>

<main>
    <h1>Sample Photo Service</h1>
    <img src="https://picsum.photos/280/320?random=1" width="140" height="160" alt="stock image" />

    <p>
        Unlimited photo hosting, and more. Cancel anytime.
    </p>

    <form action="/Subscription/register" method="post">
        <label>
            Email
            <input id="email" type="text" name="email" placeholder="Email address" value="test@example.com" required />
        </label>

        <button type="submit">
            Register
        </button>
    </form>
</main>
