@{
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        
    </div>
</div>

<div class="container">
    <h2>Log In</h2>
    <form method="post" action="/Account/Login" style="margin-top:20px;">
        
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>E-mail:</label>
                    <input name="username" type="text" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>Password:</label>
                    <input name="password" type="password" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <button type="submit" class="btn btn-success">
                    Log In
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6" style="margin-top:20px;">
                @if (!string.IsNullOrEmpty(ViewBag.MensagemErro))
                {
                    <div class="alert alert-danger">
                        @ViewBag.MensagemErro
                    </div>
                }
            </div>
        </div>
    </form>
</div>